name: golangci-lint
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.8.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_go: true
          enable_go_cache: false
          enable_npm: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6.5.1
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.62.2
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.8.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_go: true
      - name: test
        run: "make test"
  checkformat:
    name: checkformat
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: perses/github-actions@v0.8.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_go: true
      - name: checkformat
        run: "make checkformat"
